*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-acquamarine{
    height: 50px;
    background-color: aquamarine;
    padding: 0.5rem 8rem;  
}


.menu{
    display: flex;
    justify-content: center;
}

.menu-logo{
    border: 1px dotted black;
    background-color: orange;
    width:200px;
    padding: 0.4rem;
}

.menu-link{
    border: 1px dotted black;
    background-color: orange;
    width: 400px;
    list-style-type: none;
    justify-content: center;
    gap: 1rem ;  
    padding: 0.4rem; 
}

.menu-login{
    border: 1px dotted black;
    background-color: orange;
    text-align: end;
    width: 200px;
    padding: 0.4rem;
}

.padding-3{
    padding: 3rem 0;
}

.bg{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blu{
    background-color: blue;
}

.bg-grey{
    background-color: grey;
}

.bg-darkgrey{
    background-color: darkgray;
}

.box-b{
     border: 1px dotted black;
}

.box-w{
     border: 1px dotted white;
}

.box-violet{
    height: 300px;
    width: 600px;
    background-color: violet;
}

.box-lightblu{
    height: 300px;
    width: 500px;
    background-color: rgb(173, 191, 230);
}

.box-pink{
    height: 300px;
    width: 300px;
    background-color: pink;
}

.box-green{
    height: 500px;
    width: 800px;
    background-color: green;
}

.box-salmon{
    height: 300px;
    width: 266px;
    background-color: salmon;
}

.box-ciano{
    height: 300px;
    width: 133px;
    background-color:cyan;
}


