*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-menu-orange{
    border: 1px dotted black;
    background-color: orange;
}


.menu-logo{
    width:200px;
    padding: 0.4rem;
}

.menu-link{
    width: 400px;
    list-style-type: none;
    justify-content: center;
    gap: 1rem ;  
    padding: 0.4rem; 
}

.menu-login{
    text-align: end;
    width: 200px;
    padding: 0.4rem;
}

.padding-3{
    padding: 3rem 0;
}

.padding-t1-b2{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.padding-top2{
    padding-top: 2rem;
}

.margin{
    margin-bottom: 0.2rem;
}

.bg{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-acquamarine{
    background-color: aquamarine;
    padding: 0.5rem 8rem;  
}
.bg-blu{
    background-color: blue;
}

.bg-grey{
    background-color: grey;
}

.bg-darkgrey{
    background-color: rgb(90, 86, 86);
}

.box-b{
    border: 1px dotted black;
}

.box-w{
    border: 1px dotted white;
}

.box-violet{
    height: 300px;
    width: 600px;
    background-color: violet;
}

.box-lightblu{
    height: 300px;
    width: 500px;
    background-color: rgb(173, 191, 230);
}

.box-pink{
    height: 300px;
    width: 300px;
    background-color: pink;
}

.box-green{
    height: 500px;
    width: 800px;
    background-color: green;
}

.box-salmon{
    height: 300px;
    width: 266px;
    background-color: salmon;
}

.box-ciano{
    height: 300px;
    width: 133px;
    background-color:cyan;
}

.box-turchese{
    height: 50px;
    width: 800px;
    background-color: turquoise;
}

.box-footer-salmon{
    border: 1px dotted black;
    background-color: salmon;
}

.logo-end{
    height: 20px; 
    width: 50px; 
    text-align: center;
}

.button-end{
    height: 20px;
    width: 50px;
}

.space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

